<header>
  <div>
    <ul>
      <li class="list"><a href="/">Home</a></li>
      <li class="list"><a href="Rooms">Rooms</a></li>
      <li class="list"><a href="Dining">Dining</a></li>
      <li class="list"><a href="Bookings">Book now</a></li>
      <li class="list">
        <a href="RestaurantReservation">Reserve now</a>
      </li>
    </ul>
  </div>
</header>
